@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    font-family:'Raleway',sans-serif;
  }
  .custom-img{
  background-image: url('./Media/—Pngtree—dark\ red\ background\ showcasing\ 3d_3664249.jpg');
  
  }
  .purple{
    background-image: url('./Media/img.jpg');

  }
  